<head>
  <title>Narrative Action Economy</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<div id="app">
  <form ref="form" @submit.prevent="addPlayer">
    <p>To add a player, fill the form bellow:</p>

    <label for="playerName">
      Player Name:
    </label>
    <input
      id="playerName"
      name="player"
      type="text"
      required
      class="NarrativeActionEconomy__input"
    />
    
    <label for="characterName">
      Character Name:
    </label>
    <input
      id="characterName"
      name="name"
      type="text"
      required
      class="NarrativeActionEconomy__input"
    />

    <button type="submit">submit</button>
  </form>

  <template v-if="listSorted.length">
    <hr>

    <strong>Players bellow:</strong>

    <table class="NarrativeActionEconomy__table">
      <tr>
        <th>Player</th>
        <th>Character</th>
        <th>Actions</th>
      </tr>

      <tr
        v-for="item in listSorted"
        :key="item.id"
        class="NarrativeActionEconomy__table-row"
      >
        <td>{{ item.player }}</td>
        <td>{{ item.name }}</td>v
        <td>
          <button type="button" @click="onAction(item)">took action</button>
          <button type="button" @click="onRemove(item)">remove</button>
        </td>
      </tr>
    </table>
  </template>
</div>

<script>
const namespace = 'NarrativeActionEconomy';

window.vm = new Vue({
  el: '#app',
  data: () => ({
    id: 0,
    list: JSON.parse(window.localStorage.getItem(`${namespace}:list`)) || [],
  }),
  computed: {
    listSorted() {
      return this.list.sort((a, b) => a.updatedAt - b.updatedAt);
    },
  },
  watch: {
    list: {    
      immediate: true,
      handler(list) {
        window.localStorage.setItem(`${namespace}:list`, JSON.stringify(list))
      },
    },
  },
  methods: {
    onRemove(item) {
      const indexToRemove = this.list.findIndex(i => item.id === i.id)
      this.list.splice(indexToRemove, 1)
    },
    onAction(item) {
      item.updatedAt = new Date();
    },
    addPlayer($event) {
      const values = Object.fromEntries(
        Array.from($event.target)
          .filter(i => Boolean(i.name))
          .map(i => [i.name, i.value])
      )

      this.list.push({
        ...values,
        id: this.id++,
        updatedAt: new Date(),
      })

      this.$refs.form.reset();
    },
  },
});
</script>

<style>
  .NarrativeActionEconomy__input {
    width: 100%;
  }

  .NarrativeActionEconomy__table {
    width: 100%;
    text-align: center;
  }

  .NarrativeActionEconomy__table-row:nth-child(even) {
    background-color: hsl(0deg, 0%, 90%);
  }
</style>