<head>
  <title>Narrative Action Economy</title>
</head>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<div id="app">
  <label for="playerName">
    To add a player, insert it's name on the text box bellow:
  </label>
  <br>

  <input
    id="playerName"
    v-model="playerName"
    type="text"
    @keydown.enter="addPlayer"
  />

  <template v-if="listSorted.length">
    <hr>

    <strong>Players bellow:</strong>

    <ol>
      <li
        v-for="item in listSorted"
        :key="item.name"
      >
        <button type="button" @click="onAction(item)">took action</button>
        
        {{ item.name }}
      </li>
    </ol>
  </template>
</div>

<script>
window.vm = new Vue({
 el: '#app',
 data: () => ({
  playerName: '',
   list: [],
 }),
 computed: {
  listSorted() {
    return this.list.sort((a, b) => a.updatedAt - b.updatedAt);
  },
 },
 methods: {
   onAction(item) {
     item.updatedAt = new Date();
   },
   addPlayer() {
    this.list.push({ name: this.playerName, updatedAt: new Date() })
    this.playerName = ''
   },
 },
})
</script>